@page
@model PublisherApp.Pages.SendAlertModel
@{
}

<div class="center-text">Enter the alert details:</div>

<form method="post">
    Alert Region:
    <select asp-for="Alert!.Region" asp-items="@(new SelectList((IList<string>)ViewData["Regions"]!))" class="form-control form-control-lg" >
        </select>
    <br>
    Alert Type:
    <select asp-for="Alert!.Type" asp-items="@(new SelectList(Enum.GetValues(typeof(PublisherApp.Models.AlertType))))" class="form-control form-control-lg" >
    </select>
    <br>
    <br>
    <input type="submit" />
</form>